<!-- Add a comment indicating how this file fits into the MVC framework (is it a Model, a View, or a Controller?) and what it is responsible for handling. -->
<!-- This file is part of the View. It handles UI/UX concerns (layout and display)-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 2</title>
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>

      <!-- Add a comment describing what the following line of code is doing. -->
      <!-- The following line is a place holder for where the main content will be rendered. -->
      <!-- What should we expect to see when visiting http://localhost:3001/ in the browser? -->
      <!-- We would expect to see the contents of all.handlebars in the browser, 
			because that is what we are instructing it to render in dish-routes.js. -->
     {{{ body }}}
      </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>

</html>
