<!-- Add a comment indicating how this file fits into the MVC framework (is it a Model, a View, or a Controller?) and what it is responsible for handling. -->
<!-- This file is part of the View. It handles UI/UX concerns (layout and display)-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 2</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 Potluck Party! &#127881
      </h1>
    </header>
      <main class="container container-fluid mt-5">
      <!-- Add a comment describing what the following line of code is doing. -->
      <!-- The following line is a place holder for where the main content will be rendered. -->
      <!-- What should we expect to see when visiting http://localhost:3001/ in the browser? -->
      <!-- We would expect to see the contents of all.handlebars in the browser, 
			because that is what we are instructing it to render in dish-routes.js. -->
     {{{ body }}}
      </main>
  </div>
  </body>

</html>
