<!----------Navigation/Search bar --------->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <a 
      href="#" 
      class="navbar-brand mb-0 h1">
        <img 
      class="d-inline-block align-top"/>
      E-Products
    </a>
    <button 
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div 
      class="collapse navbar-collapse" 
      id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="/" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="/store" class="nav-link">
            Store
          </a>
          <ul class="dropdown-menu">

          </ul>
        </li>
        <li class="nav-item ">
          <a href="/login" class="nav-link">
            Login
          </a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input type="text" class="form-control me-2">
      <button type="submit"
      class="btn btn-outline-success">Search</button>
    </form>
  </nav>
<!-------------Content Box ------------>
<div id="home">
  <div class="landing-text">
    <h1>WELCOME!</h1>
    <h3>Let's shop!</h3>
    <a href="#" class="btn btn-default btn-lg">Get Started</a>
  </div>
</div>