  
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <a 
      href="/" 
      class="navbar-brand mb-0 h1">
        <img 
      class="d-inline-block align-top"/>
      E-Products
    </a>
    <button 
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div 
      class="collapse navbar-collapse" 
      id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="/" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="/store" class="nav-link">
            Store
          </a>
          <ul class="dropdown-menu">

          </ul>
        </li>
        <li class="nav-item ">
          <a href="/login" class="nav-link">
            Login
          </a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input type="text" class="form-control me-2">
      <button type="submit"
      class="btn btn-outline-success">Search</button>
    </form>
  </nav>


  <style>
      body { 
          background-color: white;
          }

      .shop-item-image{
          width: 200px;
      }   
  </style>
            <h1 class="band-name band-name-large"></h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">products</h2>
            <!--<div class="shop-items">
                <div class="item-shop">
                    <img class="shop-item-image" src="/images/ps5-product1.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-title">Play station 5</span>
                        <span class="shop-item-price">$500</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="/images/macbookPro-product2.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-title">macBookPro</span>
                        <span class="shop-item-price">$2,199.00</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="/images/golfBag-product3.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-title">full titleist golf set</span>
                        <span class="shop-item-price">$1,700.00</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="/images/iphone-product4.webp">
                    <div class="shop-item-details">
                        <span class="shop-item-title">iphone 13 pro max</span>
                        <span class="shop-item-price">$1,200.98</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>o
            </div>-->
            <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr class="shop-item">
                <th scope="row">{{id}}</th>
                <td>{{title}}</td>
                <td> <img class="shop-item-image" src="{{image}}"></td>
                <td>${{price}}</td>
                <td><button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <script src="/js/store.js"></script>

        