       <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">products</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">products</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Play station 5</span>
                    <img class="shop-item-image" src="/images/ps5-product1.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$500</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">macBookPro</span>
                    <img class="shop-item-image" src="/images/macbookPro-product2.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$2,199.00</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">full titleist golf set</span>
                    <img class="shop-item-image" src="/images/golfBag-product3.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1,700.00</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">iphone 13 pro max</span>
                    <img class="shop-item-image" src="/images/iphone-product4.webp">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1,200.98</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>o
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">MERCH</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">elton john goodbye yellow brick road</span>
                    <img class="shop-item-image" src="/images/album-product5.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$19.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">oculus quest 2</span>
                    <img class="shop-item-image" src="/images/oculus-quest-2-product6.webp">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$499</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
        </footer>
        <script src="/public/js/store.js"></script>
