section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background-image: url('https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
  color: white;
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
/* iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--
*/
